{
  "traillingComma": "es5",
  "tabWidth": 4,
  "semi": true,
  "singleQuote": false,
  "tailwindconfig": "./tailwind.config.ts",
  "plugins": [
    "@ianvs/prettier-plugins-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
